# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# .env file here is very important
.env
.venv/

.python-version
.DS_Store
*.swp

posts.json
