{% extends "blog/base.html" %}
{% block content %}
<h1>About Page</h1>
<p>This website is made with Django. Actually it is my result of <a target="_blank" href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">Django tutorial from Corey M Schafer</a>. I added, subtracted, and changed some features to fit my own taste.</p>
<p>Check out <a target="_blank" href="https://github.com/harryghgim/">my github page</a> if you are interested.</p>
<p>Hope you have a great day!</p>
{% endblock content %}
