{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div>
  <!-- <h2>Introduction</h2> -->
  <p><img class="profile img-thumbnail rounded mx-auto d-block" src="{% static 'blog/bface.jpeg' %}" alt=""></p>
  <p>Hi. I'm Harry. I'm a web developer using mainly Python, Django, Javascript etc.</p>
  <p>This website is heavily inspired by <a target="_blank"
      href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey M Schafer</a>. Thanks Corey.</p>
</div>
<div class="projects">
  <h2>Projects</h2>
  <hr>
  <dl>
    <dt>Mobility Web Service</dt>
    <dd>2020.09 - 2021.03</dd>
    <dd>
      <span>django</span><span>django rest
        framework</span><span>jquery</span><span>javascript</span><span>psql</span><span>docker</span><span>css</span>etc.
    </dd>
    <dd>Group project</dd>
    <ul>
      <li>Database design</li>
      <li>Backend API development with DRF</li>
      <li>Web page development with css and event handling with javscript and jquery</li>
      <li>Service deployment with docker</li>
    </ul>

    <dt>Blog and Portfolio</dt>
    <dd>2020.05 - present</dd>
    <dd>
      <span>django</span><span>bootstrap</span><span>heroku</span><span>psql</span>etc.
    </dd>
    <dd>Private project</dd>
    <ul>
      <li>Deployment with Heroku</li>
      <li>Frontend and backend development</li>
    </ul>
  </dl>
</div>

<div>
  <h2>Development Experience</h2>
  <hr>
  <dl>
    <dt>FATOS Co.,Ltd</dt>
    <dd>2020.09 - 2021.03</dd>
    <dd>Web Developer</dd>
  </dl>
</div>

<div>
  <h2>Certificates</h2>
  <hr>
  <dl>
    <dt><a href="https://www.freecodecamp.org/certification/harryghgim/javascript-algorithms-and-data-structures"
        target="_blank" rel="noopener noreferrer">JavaScript Algorithms and Data Structures</a></dt>
    <dd>2021.03</dd>
    <dd>Javascript algorithms training on freeCodeCamp</dd>

    <dt><a href="https://www.freecodecamp.org/certification/harryghgim/responsive-web-design" target="_blank"
        rel="noopener noreferrer">Responsive Web Design</a></dt>
    <dd>2020.12</dd>
    <dd>HTML, CSS training on freeCodeCamp</dd>
  </dl>
</div>

{% endblock content %}