{% extends "blog/base.html" %}
{% block content %}
<p>Hi. I'm Harry. I code with Python, Django, Javascript etc.</p>
<p>I spent a lot of time learning from FreeCodeCamp, MDN, Stackoverflow and other official websites of programming
  languages.
</p>
<p>This website is heavily inspired by <a target="_blank"
    href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey M Schafer</a>. I added, subtracted, and changed some features to fit my own taste.</p>
<p>Consider visiting my places below:</p>
<ul>
  <li><a href="https://github.com/harryghgim" target="_blank">Github</a></li>
  <li><a href="https://www.freecodecamp.org/harryghgim" target="_blank">FreeCodeCamp</a></li>
  <li><a href="https://stackoverflow.com/users/11790764/harryghgim?tab=profile" target="_blank">Stackoverflow</a></li>
</ul>

{% endblock content %}