{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section markdown-body">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Blog Post</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button id="post_btn" class="btn btn-outline-info" type="submit">Post</button>
      </div>
    </form>
    {{ form.media }}
  </div>
  <script>
    let isPosted = false;
    const postBtn = document.querySelector('#post_btn')
    postBtn.addEventListener('click', () => isPosted = true);
    window.addEventListener('beforeunload', (event) => {
      if (!isPosted) {
        // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
        event.preventDefault();
        event.returnValue = '';
      }      
    })
  </script>
{% endblock content %}
