{% extends "blog/base.html" %}
{% block content %}
<h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
{% for post in posts %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.created_at|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <div class="article-content markdown-body">{{ post.formatted_markdown|truncatewords_html:50|safe }}</div>
  </div>
</article>
{% endfor %}

{% if is_paginated %}
<footer class="text-center">

  {% if page_obj.has_previous %}
  <a class="btn btn-outline-dark mb-4" href="?page=1">&laquo;</a>
  <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
  {% endif %}

  <!-- {% if page_obj.number|add:'-2' > 1 %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a>
        {% endif %} -->

  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
  <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
  {% endfor %}

  <!-- {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a>
        {% endif %} -->

  {% if page_obj.has_next %}
  <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">&gt;</a>
  <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
  {% endif %}
</footer>
{% endif %}

{% endblock content %}